
.starSet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  justify-content: center;
  justify-items: end;
  margin: 0px 10px;
}

.left{
  margin-right: 50px;
}

.star {
  height: 14px;
  display: inline-block;
  position: relative;
}

.outerStar {
  height: 10px;
  display: inline-block;
  position: relative;
}

.innerStar {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

#aggregateContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;

  /* align-content: center; */
}

#accuracy{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}

#location{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}

#communication{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}

#checkIn{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}

#cleanliness{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}

#value{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}
