.starSet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  justify-content: center;
  justify-items: end;
  margin: 0px 10px;
}

.star {
  height: 14px;
  display: inline-block;
  position: relative;
}

#aggregateContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  align-self: center;
}

#accuracy{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}

#location{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}

#communication{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}

#checkIn{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}

#cleanliness{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}

#value{
  display: grid;
  align-self: center;
  margin: 0px 10px;
}
