@font-face {
  font-family: 'Cereal-Bold';
  src: url('./fonts/AirbnbCereal-Bold.ttf') format('truetype');
  /* font-weight: 400; */
}

@font-face {
  font-family: 'Cereal-Book';
  src: url('./fonts/AirbnbCereal-Book.ttf') format('truetype');
  /* font-weight: 400; */
}

.starSet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  justify-content: center;
  justify-items: end;
  margin: 0px 10px;
}

#searchContainer {
  display: grid;
  grid-template-columns: 100px 140px 1fr;
  align-self: center;
}

#reviewCount {
  display: grid;
  grid-column: 1;
  align-self: center;
  font-family: 'Cereal-Bold';
  font-size: 20px;
}

#overallScore {
  grid-column: 2;
}

#searchForm {
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr;
  justify-self: start;
}

#searchBar {
  /* grid-column: 2; */
  font-family: 'Cereal-Book';
  justify-self: stretch;
  border: 0px;
  color: rgb(120, 120, 120);
  font-size: 13px;
  padding: 5px;
}

#searchBar:focus {
  outline: none;
}

#barContainer {
  display: grid;
  grid-column: 3;
  justify-items: end;
}

#highlightBox {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-gap: 4px;
  border: 1px solid lightgray;
  border-radius: 3px;

}

#highlightBox:focus-within {
  border: 1px solid teal;
}

#iconContainer {
  display: grid;
  grid-column: 1;
  justify-self: end;
}

#searchIcon {
  height: 13px;
  justify-self: end;
  align-self: center;
}
